APP_PORT=5000
DEBUG_MODE=true
DB_URL=mongodb://shubham11:qwertyuiop@ac-w52xqpd-shard-00-00.lw3ehiw.mongodb.net:27017,ac-w52xqpd-shard-00-01.lw3ehiw.mongodb.net:27017,ac-w52xqpd-shard-00-02.lw3ehiw.mongodb.net:27017/pizza?ssl=true&replicaSet=atlas-drpith-shard-0&authSource=admin&retryWrites=true&w=majority
REFRESH_SECRET =shanks
JWT_SECRET=your_jwt_secret_here
CLOUDINARY_CLOUD_NAME=daj6msohy
CLOUDINARY_API_KEY=974991537827471
CLOUDINARY_API_SECRET=Zm1bPsAUUdbRHEZrRhqVSFujwSY
